<head>
    <style>
        .done-true{
            text-decoration: line-through;
            color:grey;
        }
    </style>
</head>
<h2><strong>{{remaining()}}</strong> of {{getTotalActive()}}</h2>
<ul class="unstyled">
    <li ng-repeat="todo in todos" class="done-{{todo.done}}">
        <input type="checkbox" ng-model="todo.done" />
        {{todo.text}}
    </li>
</ul>
<form class="form-inline">
    <input type="text" placeholder="What needs to be done?" ng-model="inputTodoText"/>
    <button class="btn" ng-disabled="!inputTodoText" ng-click="addTodo()"><i class="icon-plus-sign"></i>Add</button>
</form>
